.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
}
#header {
  margin: 0;
  position: absolute;
  top: 25%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
}

body{
  background-image: url(bikepic.png);
  background-size: 100% auto;
  color:white;
}
td{
  text-align: center;
}

#barre, #boxing, #yoga, #gym, #pilates, #spin{
  border-radius: 10px;

}

#barre:hover, #boxing:hover, #yoga:hover, #gym:hover, #pilates:hover, #spin:hover{
  background-color:#eaedf2;
  opacity: 0.7;
}

#next {
	background-color:#eaedf2;
	-moz-border-radius:39px;
	-webkit-border-radius:39px;
	border-radius:39px;
	border:1px solid #67696d;
	display:inline-block;
	cursor:pointer;
	color:#67696d;
	font-family: 'Montserrat', sans-serif;
	font-size:36px;
	padding:5px 60px;
	text-decoration:none;
  margin: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
#next:hover {
	background-color:#67696d;
  color: #eaedf2;
}

#back {
	background-color:#eaedf2;
	-moz-border-radius:39px;
	-webkit-border-radius:39px;
	border-radius:39px;
	border:1px solid #67696d;
	display:inline-block;
	cursor:pointer;
	color:#67696d;
	font-family: 'Montserrat', sans-serif;
	font-size:20px;
	padding:5px 30px;
	text-decoration:none;
  margin: 0;
  position: absolute;
  top: 5%;
  left: 5%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#back:hover {
	background-color:#67696d;
  color: #eaedf2;
}

.glyphicon{
  	display:inline-block;
    position: absolute;
    padding-top: 56px;
    top: 10%;
    left: 97.5%;
    right: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
}
