.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-family: verdana, sans-serif;
  font-size: 40px;
}

body{
  background-image: url(yogapic.png);
  background-size: 100% auto;
  color:white;
}
