.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-family: verdana, sans-serif;
  font-size: 50px;
  color: #67696d;
}
span{
  color:#eaedf2;
}
body{
  background-image: url(yogapic.png);
  background-size: 100% auto;
}
