.jumbotron{
  background-color: rgba(150,234,227,.30);
  height: 220px;
  color: #67696d;
}

body{
  color: #67696d;
}

#dir{
  background-color: rgba(150,234,227,.30);
}
#fitness{
  padding-left: 15px;
}
#message{
  padding-left: 15px;
  font-size: 18px;
  color: #67696d;
}
#redirect{
  padding-left: 15px;
  color: #67696d;
}

#map {
  height: 90vh;
  width: 95%;
}

#directions{
  width: 50%;
  float: left;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/*directions*/
.controls {
   margin-top: 10px;
   border: 1px solid transparent;
   border-radius: 2px 0 0 2px;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   height: 32px;
   outline: none;
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
 }

a.no-margin p{
    margin: 0px;
}

.tab-content{
    max-height: 580px;
    overflow-y:scroll;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(150,234,227,.75);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.star label.btn.focus, .star label.btn:focus{
    outline: none;
}

.star label.btn:active, .star label.btn.active{
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #FECC01;
}

.star{
    background-color: transparent;
    float:right;
}

.star label.btn:hover span{
    color: #FECC01;
}

.remove label.btn:active, .remove label.btn.active{
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #FECC01;
}

.remove{
    background-color: transparent;
    float:right;
}

.remove label.btn:hover span{
    color: #FECC01;
}


.btn-secondary{
    background-color: white;
}

.width-100{
    width:100%;
}

.text-left{
    text-align: left;
}

.list-button:hover{
    background-color: gainsboro;
}

#back {
	background-color:#eaedf2;
	-moz-border-radius:39px;
	-webkit-border-radius:39px;
	border-radius:39px;
	border:1px solid #67696d;
	display:inline-block;
	cursor:pointer;
	color:#67696d;
	font-family: 'Montserrat', sans-serif;
	font-size:20px;
	padding:4px 25px;
	text-decoration:none;
  margin: 0;
  position: absolute;
  top: 5%;
  left: 5%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#back:hover {
	background-color:#67696d;
  color: #eaedf2;
}

#meth, #active, #add{
  color: rgb(121,182,105);
}

#b{
  float:right;
  padding-right: 2px;
}

#qMark{
  	display:inline-block;
    position: absolute;
    padding-top: 56px;
    top: 1%;
    left: 97.5%;
    right: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
}
#qMark:hover{
  color: #67696d
}

.show-directions, .show-fav-directions, .remove-link{
    padding: 6px 12px;
}
