#map {
  height: 100vh;
  width: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*directions*/
.controls {
   margin-top: 10px;
   border: 1px solid transparent;
   border-radius: 2px 0 0 2px;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   height: 32px;
   outline: none;
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
 }

 #origin-input,
 #destination-input {
   background-color: #fff;
   font-family: Roboto;
   font-size: 15px;
   font-weight: 300;
   margin-left: 12px;
   padding: 0 11px 0 13px;
   text-overflow: ellipsis;
   width: 200px;
 }

 #origin-input:focus,
 #destination-input:focus {
   border-color: #4d90fe;
 }

 #mode-selector {
   color: #fff;
   background-color: #4d90fe;
   margin-left: 12px;
   padding: 5px 11px 0px 11px;
 }

 #mode-selector label {
   font-family: Roboto;
   font-size: 13px;
   font-weight: 300;
 }

a.no-margin p{
    margin: 0px;
}

.star label.btn.focus, .star label.btn:focus{
    outline: none;
}

.star label.btn:active, .star label.btn.active{
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #FECC01;
}

.star{
    background-color: transparent;
    float:right;
}

.star label.btn:hover span{
    color: #FECC01;
}

.btn-secondary{
    background-color: white;
}

.width-100{
    width:100%;
}

.text-left{
    text-align: left;
}

.list-button:hover{
    background-color: gainsboro;
}