#map {
  height: 100vh;
  width: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/*directions*/
.controls {
   margin-top: 10px;
   border: 1px solid transparent;
   border-radius: 2px 0 0 2px;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   height: 32px;
   outline: none;
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
 }

a.no-margin p{
    margin: 0px;
}

.tab-content{
    max-height: 650px;
    overflow-y:scroll;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(150,234,227,.75);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.star label.btn.focus, .star label.btn:focus{
    outline: none;
}

.star label.btn:active, .star label.btn.active{
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #FECC01;
}

.star{
    background-color: transparent;
    float:right;
}

.star label.btn:hover span{
    color: #FECC01;
}

.btn-secondary{
    background-color: white;
}

.width-100{
    width:100%;
}

.text-left{
    text-align: left;
}

.list-button:hover{
    background-color: gainsboro;
}
